body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}

.link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

.list {
    list-style-type: none;
}

header {
    background-color: white;
}

.logotype {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.italic-text {
    color: #2e2f42;
}

.menu-link {
    color: #2E2F42;   
    font-weight: 500;
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

.contact {
    font-style: normal
}

.contact-link {
    color: #434455;
    font-weight: 400;
}

.welcome-section {
    background: #2E2F42;
    color: white;
}

.welcome-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.goalbutton {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.goalbutton:hover {
    background-color: #404BBF;
}

.goalbutton:focus {
    background-color: #404BBF;
}

.slogantitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.slogan-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.slogan-item-description, 
.portfolio-item-description,
.footer-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-item {
    background-color: #FFFFFF;
}

.team-item-job {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.footer {
    background-color: #2e2f42;
}

.footer .italic-text {
    color: #f4f4fd;
}

.footer-description {
    color: #F4F4FD;
}
