/* 
body {
    background-color: blueviolet;
}
*/

header {
    background-color: white;
}

.hello {
    height: 600px;
    width: 100%;
    background: #2E2F42;
    color: white;
}

.order-button {
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: white;
}
